<div id="contentmain">

      <div class="frostybot-panel frostybot-tab-main" id="tab_accounts"><%- include('../partials/tab.accounts.ejs'); %></div>
      <div class="frostybot-panel frostybot-tab-main" id="tab_security"></div>
      <div class="frostybot-panel frostybot-tab-main" id="tab_logs"></div>
      <div class="frostybot-panel frostybot-tab-main" id="tab_logout"></div>

</div>