    <hr>
    <%
        var year = (new Date()).getFullYear();
    %>
    <p class="text-center text-muted">Copyright © <%= year %> Frostybot</p>
    </div>
</div>
<div id="frostybot-notifications"></div>
<div id="info"></div>
<div id="warning"></div>
<div id="success"></div>
<div id="error"></div>
</body>
</html>