<div class="row" style="width: 300px;">

<form id="changepasswordform" class="row">
          
    <div class="row mb-2 flex-nowrap">
    <label for="inputstub" class="col-sm-2 col-form-label-sm frostybot-form-label-lg">Old Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control-sm frostybot-input frostybot-input-sm" id="inputoldpassword">
    </div>
  </div>

  <div class="row mb-2 flex-nowrap">
    <label for="inputstub" class="col-sm-2 col-form-label-sm frostybot-form-label-lg">New Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control-sm frostybot-input frostybot-input-sm" id="inputnewpassword">
    </div>
  </div>

  <div class="row mb-2 flex-nowrap">
    <label for="inputstub" class="col-sm-2 col-form-label-sm frostybot-form-label-lg">Confirm&nbsp;Password</label>
    <div class="col-sm-4">
      <input type="password" class="form-control-sm frostybot-input frostybot-input-sm" id="inputconfirmpassword">
    </div>
  </div>

  <div class="row mb-2 flex-nowrap">
    <label class="col-sm-2 col-form-label-sm frostybot-form-label-lg">&nbsp;</label>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-success frostybot-button-sm" style="width: 100px; height: 31px; padding: 2px;" id="changepasswordsubmit"><span class="fa fa-check"></span> Change</button>
    </div>
  </div>

</form>

</div>