<div id="mainmenu">
    <ul>
        <li data-content="tab_accounts"><a href="#">Accounts</a></li>
        <li data-content="tab_security"><a href="#">Security</a></li>
        <!--li data-content="tab_logs"><a href="#">Logs</a></li-->
        <li data-content="tab_logout"><a href="#">Logout</a></li>
    </ul>
</div>

<script type="text/javascript">
    $("#mainmenu").jqxMenu({ width: '180', mode: 'vertical'});
</script>
