<div class="frostybot-panel-header">
  <div class="row">
    <div class="col "><p class="m-0" id="accountstitle">Accounts</p></div>
    <div class="col text-right">
      <div class="float-right" id="accountsnavbar">
        <button type="button" class="btn btn-default frostybot-navbutton" href="#" id="addaccountlink"><span class="fa fa-plus"></span> Add</button>
        <button type="button" class="btn btn-default frostybot-navbutton" href="#" id="accountsrefreshlink"><span class="fa fa-refresh"></span> Refresh</button>
      </div>
    </div>
  </div>
</div>
<div class="frostybot-panel-content pb-3">
  <div id="form_accounts">
    <%- include('../partials/form.accounts.ejs'); %>
  </div>
  <div id="form_config">
  </div>
  <div id="table_accounts">
  </div>
</div>