<%- include('../partials/header.ejs'); %>

  <container role="navigation">
  
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link active" id="v-pills-accounts-tab" data-bs-toggle="pill" href="#v-pills-accounts" role="tab" aria-controls="v-pills-accounts" aria-selected="false">API Keys</a>
        <a class="nav-link" id="v-pills-console-tab" data-bs-toggle="pill" href="#v-pills-console" role="tab" aria-controls="v-pills-console" aria-selected="false">Console</a>
        <a class="nav-link" id="v-pills-log-tab" data-bs-toggle="pill" href="#v-pills-log" role="tab" aria-controls="v-pills-log" aria-selected="false">View Log</a>
        <a class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </div>
      <div class="tab-content flex-fill" id="v-pills-tabContent">
        <div class="frostybot-tab-content tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="frostybot-tab-content tab-pane fade show active" id="v-pills-accounts" role="tabpanel" aria-labelledby="v-pills-accounts-tab"><%- include('../partials/tab.apikeys.ejs'); %></div>
        <div class="frostybot-tab-content tab-pane fade" id="v-pills-console" role="tabpanel" aria-labelledby="v-pills-console-tab">...</div>
        <div class="frostybot-tab-content tab-pane fade" id="v-pills-log" role="tabpanel" aria-labelledby="v-pills-log-tab">...</div>
        <div class="frostybot-tab-content tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
      </div>
    </div>

  </container>

<%- include('../partials/footer.ejs'); %>
