<%- include('../partials/header.ejs'); %>

<div class="container">
  <div class="row justify-content-center">
    <div class="frostybot-panel w-50">
      <div class="w-100 frostybot-panel-header"><p class="m-0"><span class="fa fa-exclamation-circle"></span> <b>ERROR</b></p></div>
      <div class="w-100 frostybot-panel-content">

          <p><%= errorMsg %></p>

      </div>
    </div>
  </div>
</div>

  <%- include('../partials/footer.ejs'); %>
