<%- include('../partials/header.ejs'); %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col text-center">
      <br />
      <a class="btn btn-outline-dark" href="<%= loginLink %>" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Login with Google
      </a>
      <br />
      <br />
    </div>
  </div>
</div>

<%- include('../partials/footer.ejs'); %>