<%- include('../partials/header.ejs'); %>
<%- include('../partials/protected.ejs'); %>
  <container role="navigation">
  
    <div class="d-flex align-items-start">
      <div class="nav flex-column nav-pills me-3" id="tabs-tab" role="tablist" aria-orientation="vertical">
        <!--a class="nav-link" id="tabs-home-tab" data-bs-toggle="pill" href="#tabs-home" role="tab" aria-controls="tabs-home" aria-selected="true">Home</a-->
        <a class="nav-link active frostybot-nav-left" id="tabs-accounts-tab" data-bs-toggle="pill" href="#tabs-accounts" role="tab" aria-controls="tabs-accounts" aria-selected="true">API Keys</a>
        <!--a class="nav-link" id="tabs-console-tab" data-bs-toggle="pill" href="#tabs-console" role="tab" aria-controls="tabs-console" aria-selected="false">Console</a>
        <a class="nav-link" id="tabs-log-tab" data-bs-toggle="pill" href="#tabs-log" role="tab" aria-controls="tabs-log" aria-selected="false">View Log</a>
        <a class="nav-link" id="tabs-settings-tab" data-bs-toggle="pill" href="#tabs-settings" role="tab" aria-controls="tabs-settings" aria-selected="false">Settings</a-->
        <a class="nav-link frostybot-nav-left" id="tabs-logout-tab" data-bs-toggle="pill" href="#tabs-logout" role="tab" aria-controls="tabs-logout" aria-selected="false">Logout</a>
      </div>
      <div class="tab-content flex-fill" id="tabs-tabContent">
        <!--div class="frostybot-tab-content tab-pane fade" id="tabs-home" role="tabpanel" aria-labelledby="tabs-home-tab">...</div-->
        <div class="frostybot-panel tab-pane fade show active" id="tabs-accounts" role="tabpanel" aria-labelledby="tabs-accounts-tab"><%- include('../partials/tab.apikeys.ejs'); %></div>
        <!--div class="frostybot-tab-content tab-pane fade" id="tabs-console" role="tabpanel" aria-labelledby="tabs-console-tab">Not yet implemented</div>
        <div class="frostybot-tab-content tab-pane fade" id="tabs-log" role="tabpanel" aria-labelledby="tabs-log-tab">Not yet implemented</div>
        <div class="frostybot-tab-content tab-pane fade" id="tabs-settings" role="tabpanel" aria-labelledby="tabs-settings-tab">Not yet implemented</div-->
        <div class="frostybot-panel tab-pane fade" id="tabs-settings" role="tabpanel" aria-labelledby="tabs-settings-tab">Logging out...</div>
      </div>
    </div>

  </container>

<%- include('../partials/footer.ejs'); %>
